.card {
    background: black;
    border-radius: 15px;
    box-shadow: 0 4px 20px white;
    text-align: center;
    padding: 30px;
    width: 300px;
}

.icon {
    font-size: 50px;
    color: #ff4081;
    margin-bottom: 15px;
}

h2 {
    margin: 10px 0;
}

p {
    line-height: 1.5;
}
