.header-container {
  background-color: #2c3e50;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  color: #ecf0f1;
  font-size: 18px;
  margin: 0;
  font-family: "Dosis", sans-serif;
  font-style: italic;
}

.header-title span {
  color: #FF014F;
}

.links {
  display: flex;
  gap: 20px;
}

.nav-item {
  color: #ecf0f1;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #3498db;
}

.menu-icon {
  color: #ecf0f1;
  cursor: pointer;
}

.menu-icon:hover {
  color: #3498db;
}

#menuBar {
  display: none;
}

.hero-imageDiv {
  position: relative;
  display: inline-block;
  padding: 10px;
  border: 5px solid #FF014F;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 400px;
}

@media (max-width: 900px) {
  h1 {
      font-size: 14px;
      font-weight: 600;
  }
  
  .links {
      display: none;
  }

  #menuBar {
      display: block;
  }
}
