body{
    background: #000000;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
   
}

@media (max-width:900px){
    body{
        /* height: 3000px; */
        
    }
}